Interface Web

streamlit>=1.30.0

Manipulação de Dados e Matemática

pandas>=2.1.0
numpy>=1.24.0
scipy>=1.11.0

Visualização

plotly>=5.18.0

Machine Learning (Clusterização/PCA)

scikit-learn>=1.3.0

Fontes de Dados (O essencial para a versão Nativa)

yfinance>=0.2.36
pynvest>=1.0.0
mercados[ibge]>=1.0.0
requests>=2.31.0

Utilitários

lxml>=5.0.0
